<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="selenium">
    <test name="mixed">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="com.academy.automationpractice.MixedTests" />
        </classes>
    </test>
    <test name="login">
        <parameter name="browser" value="firefox" />
        <classes>
            <class name="com.academy.automationpractice.LoginTests" />
        </classes>
    </test>

</suite>